{% extends 'base.html' %}
{% block content %}
    <h1>Catraca Virtual 🚌</h1>
    <p style="text-align:center; margin-bottom:25px; color:#666;">Demonstração Acadêmica</p>
    
    <a href="/criar-cartao" class="menu-btn">💳 Criar Cartão</a>
    <a href="/cartao" class="menu-btn">🔍 Visualizar Cartão</a>
    <a href="/catraca" class="menu-btn" style="background: #e67e22;">📟 Acessar Catraca Virtual</a>
    <a href="/historico" class="menu-btn" style="background: #2c3e50;">📊 Ver Histórico</a>
{% endblock %}
